h1 {
    text-align: center;
}

.noBorders {
    border: none !important;
}

.value {
    width: 1000px;
}

.exportTable {
    display: none;
}

.fc-today {
    background-image: linear-gradient(to bottom, #808080, rgb(128, 128, 128)) !important;
}